.header {
  // background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 5%;
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    padding: 4rem 5%;
  }

  & > * {
    @media screen and (max-width: 768px) {
      flex: 1;
    }
  }

  &-burger {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }

    & button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  &-logo {
    margin-right: 5rem;
  }

  &-list {
    list-style: none;
    display: flex;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &-item {
    padding: 2rem;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-color: var(--white);
      width: 30%;
      height: 0.3rem;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.5s;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &-link {
    &:link,
    &:visited {
      text-decoration: none;
      color: var(--white);
      text-transform: lowercase;
    }
  }
}
