:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

// @media screen and (max-width: 82.67em) {
//   font-size: 70%;
// }

// @media screen and (max-width: 64em) {
//   font-size: 75%;
// }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 1024px) {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Spartan', open-sans;
  font-weight: 500;
  position: relative;
}

.paragraph {
  font-size: 1.2rem;
  color: var(--dark-gray);
  margin-bottom: 2rem;
  line-height: 1.5;
}

.main {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(9, 10vh);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;

  & a {
    color: hsl(228, 45%, 44%);
  }
}

@import './carousel';
@import './content';
@import './button';
@import './header';
